# Eclipse files
.classpath
.project
.settings/
.tern-project

# Compiled files
/*/*/classes
*.class

# Mac files
.DS_Store

# Maven files
log/
target/
/bin/

# Idea
.idea

# Docker
docker/ejemploViafirma.war

src/main/webapp/util.jsp
