<?xml version='1.0' encoding='UTF-8'?>
<!--
/* Desarrollado por VIAVANSI ( Servicios Avanzados para las Instituciones S.L. ) 2008
  
   Se permite la libre distribución y modificación de esta librería bajo los 
   términos de la licencia GPL siempre que se indique de forma clara
   la autoría de Servicios Avanzados para las Instituciones S.L. (VIAVANSI).
   Para usos comerciales de este software contacte con info@viavansi.com.
   
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GPL GNU General Public
   License as published by the Free Software Foundation; either
   version 2 of the License, or (at your option) any later version.
  
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.
 
   For any commercial use of this software contact info@viavansi.com.

   ********************************************************************
   Encoding: ASCII
*/
-->	
<!-- NOTA: Fichero sin Tildes ni caracteres no ASCII( para evitar errores en el servidor ) -->
<web-app id="ejemploViafirma2" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>ejemploViafirma_1</display-name>
	<description>
	   ejemploViafirma2 Copyright (C) 2007 - 2008  Viavansi Servicios Avanzados para las Instituciones S.L. (VIAVANSI)
	</description>
	
	<error-page>
  		<error-code>401</error-code>
  		<location>/errors/401.jsp</location>
	</error-page>
	
	<context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
         c:\temp\
     </param-value> 
</context-param>

	<servlet>
		<servlet-name>ViafirmaClientResponseServlet</servlet-name>
		<servlet-class>com.viavansi.examples.ViafirmaClientResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViafirmaCallbackServlet</display-name>
		<servlet-name>ViafirmaCallbackServlet</servlet-name>
		<servlet-class>com.viafirma.examples.util.ViafirmaCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViafirmaClientResponseServlet</servlet-name>
		<url-pattern>/viafirmaClientResponseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViafirmaCallbackServlet</servlet-name>
		<url-pattern>/ViafirmaCallbackServlet</url-pattern>
	</servlet-mapping>
	

	
	<!-- Descripción del Filtro de Login -->
	 <filter>
    	<description>
            Sistema de seguridad para que todos los usuarios que
            utilicen la Administración  tengan que estar
            logados en ViaFirma
        </description>
        <filter-name>LoginFilter</filter-name>
       	<filter-class>
          		 com.viavansi.examples.AutenticateFilter
        </filter-class>
    </filter> 
    
    <!-- Mapeo del Filtro de Login -->
 	<filter-mapping>
                <filter-name>LoginFilter</filter-name>
                <url-pattern>/exampleFilter/resultadoAutenticacion.jsp</url-pattern>
                <dispatcher>FORWARD</dispatcher>
                <dispatcher>REQUEST</dispatcher>       
    </filter-mapping>
       
        
        
   <!--  Descripción del Filtro de Firma-->
	<filter>
	   	<description>
	    	Este filter recuperara un documento cualquier y sera firmado por viafirma.
	    </description>
	    <filter-name>FirmaFilter</filter-name>
	    <filter-class>
	    	com.viavansi.examples.FirmaFilter
	    </filter-class>
	</filter>
    
   
   <!-- Mapeo del Filtro de Firma-->
   <filter-mapping>
   	<filter-name>FirmaFilter</filter-name>
    <url-pattern>/exampleFilter/resultadoFirma.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>       
   </filter-mapping>


   

	<!-- Errro Pages -->
	<error-page>	
		<error-code>401</error-code>
		<location>/exampleFilter/resultadoAutenticacion.jsp</location>	
	</error-page>
	
</web-app>
